@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>...| Proyecto presentado por Juan Pablo Cabrera Villa |...</p>
<p>Curso de .Net Core (Top Gun Lab 2019-2) realizado por TEAM INTERNATIONAL.</p>