@page
@model TGL.WebAppTeamSeguros.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<nav>
    <div class="nav-wrapper bg-dark">
        <a class="brand-logo center">Edit Customer</a>
    </div>
</nav>

<div class="row">
    <form method="post" class="col s12">
        <input hidden asp-for="Customer.Id" />
        <div class="row">
            <div class="input-field col s6">
                <label for="name" class="">Name</label>
                <input asp-for="Customer.Name" type="text" />
            </div>
            <div class="input-field col s6">
                <label for="lastname" class="">LastName</label>
                <input asp-for="Customer.LastName" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="doctype" class="">Document Type</label>
                <br /><br /><br />
                <div>
                    <select class="browser-default" asp-for="Customer.TypeDoc" asp-items="Html.GetEnumSelectList<@Models.TypeDoc>()">
                        <option value="" disabled selected>Choose</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="numdoc" class="">Number Document</label>
                <input asp-for="Customer.NumDoc" type="number" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label>Birthdate</label>
                <br /><br /><br />
                <div>
                    <input class="" asp-for="Customer.Birthday" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="city" class="">City</label>
                <input asp-for="Customer.City" type="text" />
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Save
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
<br />
