@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a asp-page="/Customers/Add" role="button" class="btn btn-success"> Registrar Cliente</a>
</div>

